{% comment %}
    Renders a product card component

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false

    Usage:
    {%- render 'component-product-card',
      show_vendor: section.settings.show_vendor
    -%}
{% endcomment %}

{%- liquid
  if simple_render == blank
    assign simple_render = false
  endif

  assign show_badges = true
  if simple_render == true
    assign show_badges = false
  endif
-%}

<div class="c-product-card {% if simple_render == true %}-simple{% endif %}">
  <a href="{{ product.url }}" class="c-product-card_featured_image">
    <img src="{{ product.featured_image | image_url: width: 500 }}"
    alt="{{ product.featured_image.alt }}"
    width="{{ product.featured_image.width }}"
    height="{{ product.featured_image.height }}"
    loading="lazy">
    {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
      <span class="percent">
        {{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100 | divided_by: product.selected_or_first_available_variant.compare_at_price | round: 0 }}% desc
      </span>
    {% endif %}
  </a>

  <h3 class="c-product-card_title"><a href="{{ product.url }}">{{ product.title }}</a></h3>

  {% comment %} Des {% endcomment %}
  {% if product.description != blank %}
    <p class="c-product-card_description">{{ product.description | strip_html | truncatewords: 20 }}</p>
  {% endif %}

  {% comment %} Price {% endcomment %}
  <p class="c-product-card_price">
    {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
      {%- assign compare_with_iva = product.selected_or_first_available_variant.compare_at_price  -%}
      <span class="compare">${{ compare_with_iva | round: 0 | money_without_currency }}</span>
    {% endif %}
    <span class="original">${{ product.selected_or_first_available_variant.price | round: 0 | money_without_currency }}</span>
  </p>

</div>
