{% comment %}
    Renders a social list.
    Usage:
    {%- render 'component-social-list' -%}
{% endcomment %}

<ul class="c-social-list" role="list">
  {%- if settings.social_twitter_link != blank -%}
    <li class="c-social-list_item" role="listitem">
      <a href="{{ settings.social_twitter_link }}" class="c-social-list_link twitter" target="_blank">
        {%- render 'component-icon' icon: 'twitter', icon_size: 20 -%}
        <span class="u-hide-visually">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li class="c-social-list_item" role="listitem">
      <a href="{{ settings.social_facebook_link }}" class="c-social-list_link facebook" target="_blank">
        {%- render 'component-icon' icon: 'facebook', icon_size: 20 -%}
        <span class="u-hide-visually">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="c-social-list_item" role="listitem">
      <a href="{{ settings.social_pinterest_link }}" class="c-social-list_link pinterest" target="_blank">
        {%- render 'component-icon' icon: 'pinterest', icon_size: 20 -%}
        <span class="u-hide-visually">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="c-social-list_item" role="listitem">
      <a href="{{ settings.social_instagram_link }}" class="c-social-list_link instagram" target="_blank">
        {%- render 'component-icon' icon: 'instagram', icon_size: 20 -%}
        <span class="u-hide-visually">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="c-social-list_item" role="listitem">
      <a href="{{ settings.social_tiktok_link }}" class="c-social-list_link tiktok" target="_blank">
        {%- render 'component-icon' icon: 'tiktok', icon_size: 20 -%}
        <span class="u-hide-visually">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="c-social-list_item" role="listitem">
      <a href="{{ settings.social_tumblr_link }}" class="c-social-list_link tumblr" target="_blank">
        {%- render 'component-icon' icon: 'tumblr', icon_size: 20 -%}
        <span class="u-hide-visually">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="c-social-list_item" role="listitem">
      <a href="{{ settings.social_snapchat_link }}" class="c-social-list_link snapchat" target="_blank">
        {%- render 'component-icon' icon: 'snapchat', icon_size: 20 -%}
        <span class="u-hide-visually">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="c-social-list_item" role="listitem">
      <a href="{{ settings.social_youtube_link }}" class="c-social-list_link youtube" target="_blank">
        {%- render 'component-icon' icon: 'youtube', icon_size: 20 -%}
        <span class="u-hide-visually">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="c-social-list_item" role="listitem">
      <a href="{{ settings.social_vimeo_link }}" class="c-social-list_link vimeo" target="_blank">
        {%- render 'component-icon' icon: 'vimeo', icon_size: 20 -%}
        <span class="u-hide-visually">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
