<!doctype html>
<html class="no-js" lang="{{- request.locale.iso_code -}}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    {{ 'stylesheet.css' | asset_url | stylesheet_tag: preload: true }}

    {{ 'base.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'base.js' | asset_url | preload_tag: as: 'script' }}

    {%- liquid
      render 'head-seo'
      render 'head-metas'
      render 'head-settings'
    -%}

    {{ 'component-predictive-search-style.css' | asset_url | stylesheet_tag }}
    {{ 'component-cart-script.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    <script src="{{- 'base.js' | asset_url -}}" defer=defer></script>

    <!-- Start vendor third party libaries -->
    <script src="{{- 'vendors.js' | asset_url -}}" defer=defer></script>
    <!-- End vendor third party libaries -->

    <!-- Header hook for plugins -->
    {{ content_for_header }}
  </head>

  <body class="layout-theme template-{{- template.name -}}{%- if template.suffix -%}-{{- template.suffix -}}{%- endif -%}">
    {% comment %} Accessibilty {% endcomment %}
    <div class="a11y o-container -medium u-pv-small" tabindex="-1">
      <a role="button" class="c-button -small" href="#main-content">
        {{- "accessibility.skip_to_content" | t -}}
      </a>
      <button type="button" class="c-button -small" onclick="this.blur();">{{ "accessibility.close" | t }}</button>
    </div>

    {% comment %} <component-loader class="loading"></component-loader> {% endcomment %}

    <predictive-search class="search" render="true">
      <div class="search_act">
        <button close type="button" class="c-button -transparent">
          {%- render 'component-icon' icon: 'back', icon_size: 20 -%}
        </button>
        <form class="search_form" method="get" role="search" tabindex="-1">
          <input id="Search" type="search"
          name="q" placeholder="Buscar productos, lineas y más..."
          value="{{ search.terms | escape }}" role="combobox"
          aria-expanded="false" aria-owns="predictive-search-results-list"
          aria-controls="predictive-search-results-list" aria-haspopup="listbox"
          aria-autocomplete="list" autocorrect="off" autocomplete="off"
          autocapitalize="off"spellcheck="false">
          <input name="options[prefix]" type="hidden" value="last">
        </form>
      </div>

      <div id="results-wrapper" class="search_wrapper"></div>
    </predictive-search>

    {%- liquid
      section 'cart-collapse'
      section 'menu-navigation'
      section 'announcement-bar'
      section 'header'
    -%}

    <main id="main-content" role="main" class="u-focus-none" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {%- section 'footer' -%}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script src="{{- 'component-predictive-search-script.js' | asset_url -}}" defer></script>
  </body>
</html>
