<script src="{{ 'component-calculator-script.js' | asset_url }}" defer></script>

{{ 'section-calculator.css' | asset_url | stylesheet_tag }}


<div class="o-container -narrow">
  <h2 class="section_title">{{ section.settings.title }}</h2>
  <p class="section_description">{{ section.settings.content }}</p>

  <component-calculator
    cbpa-price="{{ section.settings.cbpa_price }}"
    cbpa-liters="{{ section.settings.cbpa_liters }}"
    ro-price="{{ section.settings.ro_price }}"
    ro-liters="{{ section.settings.ro_liters }}"
  >
    <form>
      <div class="c-field -icon">
        <label for="cost" class="c-field_label">¿Cuánto gastas por garrafón?</label>
        <input type="number" id="cost" class="c-field_input" value="45" placeholder="Ej. $45">
        <span class="c-field_icon">$</span>
      </div>
      <div class="c-field">
        <label for="quantity" class="c-field_label">Garrafones por semana</label>
        <tc-range-slider id="quantity"
          value1="10" min="0" max="40" step="1"
          value-label="#value-1"
        ></tc-range-slider>
        <div class="value-label" id="value-1"></div>
      </div>
    </form>

    <p class="result">
      <span>Ahorra hasta</span>
      <span class="result__value">$0.00</span>
      <span>Al año con Welken</span>
    </p>
  </component-calculator>

  {%- if section.settings.button_url != blank and section.settings.button_text != blank -%}
    <a class="c-button -primary" href="{{ section.settings.button_url }}">
      {{ section.settings.button_text }}
    </a>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Calculadora",
  "class": "section--calculator",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título",
      "default": "¿Cuánto ahorrarías al año con Welken?"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Descripción",
      "default": "Simulación para el purificador de uso residencial Welken 100G",
    },
    {
      "type": "number",
      "id": "cbpa_price",
      "label": "Precio de cartucho CBPA",
      "default": 1690
    },
    {
      "type": "number",
      "id": "cbpa_liters",
      "label": "Litros por cartucho CBPA",
      "default": 3659
    },
    {
      "type": "number",
      "id": "ro_price",
      "label": "Precio de cartucho RO",
      "default": 2552,
    },
    {
      "type": "number",
      "id": "ro_liters",
      "label": "Litros por cartucho RO",
      "default": 8200,
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "URL del botón",
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texto del botón",
    },
  ],
  "presets": [
    {
      "name": "Calculadora",
    },
  ]
}
{% endschema %}
