<link rel="stylesheet" href="{{ 'component-calculator-script.css' | asset_url }}">
<script src="{{ 'component-calculator-script.js' | asset_url }}" defer></script>

{{ 'section-calculator.css' | asset_url | stylesheet_tag }}


<div class="o-container -narrow">
  <h2 class="section_title">¿Cuánto ahorrarías al año con Welken?</h2>

  <component-calculator>
    <form>
      <div class="c-field -icon">
        <label for="cost" class="c-field_label">¿Cuánto gastas por garrafón?</label>
        <input type="number" id="cost" class="c-field_input" value="45" placeholder="Ej. $45">
        <span class="c-field_icon">$</span>
      </div>
      <div class="c-field">
        <label for="quantity" class="c-field_label">Garrafones por semana</label>
        <tc-range-slider id="quantity"
          value1="10" min="0" max="40" step="1"
          value-label="#value-1"
        ></tc-range-slider>
        <div class="value-label" id="value-1"></div>
      </div>
    </form>

    <p class="result">
      <span>Ahorra hasta</span>
      <span class="result__value">$0.00</span>
      <span>Al año con Welken</span>
    </p>
  </component-calculator>

  {%- if section.settings.button_url != blank and section.settings.button_text != blank -%}
    <a class="c-button -primary" href="{{ section.settings.button_url }}">
      {{ section.settings.button_text }}
    </a>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Calculadora",
  "class": "section--calculator",
  "tag": "section",
  "settings": [
    {
      "type": "url",
      "id": "button_url",
      "label": "URL del botón",
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texto del botón",
    },
  ],
  "presets": [
    {
      "name": "Calculadora",
    },
  ]
}
{% endschema %}
