<div class="footer">
  <div class="footer-container o-container -medium -wide">
    <div class="footer_logo">
      <img
        src="{{ section.settings.logo-light | image_url: width: 350 }}"
        alt="{{ section.settings.alt }}"
        width="350"
        height="200"
        loading="lazy">

      <p class="copyright">
        © {{ 'now' | date: '%Y' }} {{ shop.name }}.
      </p>
    </div>

    <div class="footer_sitemap">
      <h2>{{ section.settings.find_text }}</h2>
      {% comment %} Menu linklist {% endcomment %}
      <ul class="footer_menu">
        {%- for item in section.settings.menu.links -%}
          <li>
            <a href="{{ item.url }}" class="link" title="{{ item.title }}">
              {{ item.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>

    <div class="footer_contact">
      <h2>Contacto</h2>
      <a href="mailto:{{ section.settings.contact_email | url_encode | base64_encode }}" class="link ufo correo">
        {% render 'component-icon', icon: 'email', icon_size: 20 %}
        <span>
          {{ section.settings.contact_email }}
        </span>
        <b class="email"></b>
      </a>
      {%- if section.settings.address_text != blank -%}
        {%- if section.settings.address_link != blank -%}
          <a
            href="{{ section.settings.address_link }}"
            class="address maps_ubicacion"
            target="_blank">
            {{- section.settings.address_text | strip_html -}}
          </a>
        {%- else -%}
          <div class="address">{{ section.settings.address_text }}</div>
        {%- endif -%}
      {%- endif -%}
    </div>

    <div class="footer_info">
      <h2>{{ section.settings.follow_text }}</h2>
      <div class="social">
        {% render 'component-social-list' %}
      </div>

      <h2 class="u-mt-medium">Metodos de pago</h2>
      <ul class="payment_types">
        {%- for type in shop.enabled_payment_types -%}
          <li>
            {{ type | payment_type_svg_tag }}
          </li>
        {%- endfor -%}
      </ul>
    </div>

    <nav class="footer_policy">
      {%- for policy in shop.policies -%}
        <a href="{{ policy.url }}" class="link">
          {{ policy.title }}
        </a>
      {%- endfor -%}
      <a href="https://goldencode.co/en" target="_blank"
        rel="noopener noreferrer" title="Desarrollado por Golden Code"
      >
        Desarrollado por Golden Code
      </a>
    </nav>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "tag": "footer",
    "class": "section--footer",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Navigation menu"
      },
      {
        "type": "image_picker",
        "id": "logo-light",
        "label": "Logo"
      },
      {
        "type": "richtext",
        "id": "address_text",
        "label": "Dirección",
        "default": "<p></p>"
      },
      {
        "type": "url",
        "id": "address_link",
        "label": "Dirección URL",
        "info": "La dirección se convertirá en un enlace si se proporciona una URL."
      }, {
        "type": "text",
        "id": "find_text",
        "label": "Encuéntranos en",
        "default": "Compra EasyLiving en:"
      }, {
        "type": "text",
        "id": "follow_text",
        "label": "Sígueme en mis redes",
        "default": "Sígueme en mis redes"
      }, {
        "type": "text",
        "id": "contact_email",
        "label": "Correo electrónico",
        "default": "tuCorreo@service.com"
      }
    ]
  }
{% endschema %}
