<script src="{{- 'component-dark-mode-button-script.js' | asset_url -}}" defer></script>

{% style %}
  .header_logo img{
    min-width: 20px;
    width: {{ section.settings.img_width }}px;
  }

  @media (max-width: 767px) {
    .header_logo img{
      width: {{ section.settings.img_width | times: 0.7 | floor }}px;
    }
  }
{% endstyle %}

<header class="header">
  <div class="o-container -wide wrapper">
    <a class="header_logo c-heading -bold" href="{{ shop.url }}" aria-label="Home">
      {%- if section.settings.logo != blank -%}
        <img
          src="{{ section.settings.logo | image_url: width: 350 }}"
          alt="{{ section.settings.logo.alt }}" loading="lazy"
          width="{{ section.settings.logo.width }}"
          height="{{ section.settings.logo.height }}"
        >
      {%- else -%}
        {{ shop.name }}
      {%- endif -%}
    </a>

    <nav class="header_nav" role="navigation" aria-label="Main navigation">
      {%- for link in section.settings.menu.links -%}
        {%- if link.links == blank -%}
          <a href="{{ link.url }}"
            class="header_nav_item c-navigation {% if link.current %}-active{% endif %}"
            {% if link.current %}aria-current="page"{% endif %}
          >
            {{ link.title }}
          </a>
        {%- else -%}
          <div class="list" role="list" tabindex="-1">
            <a class="c-navigation" href="{{ link.url }}" title="{{ link.title }}" aria-expanded="false">
              {{ link.title }}
              {% render 'component-icon' icon: 'caret', icon_size: 16 %}
            </a>

            <ul class="details-list {% if link.handle == 'products' %}-products{% endif %}">
              {%- for childlink in link.links -%}
                <li>
                  {%- if childlink.links == blank -%}
                    <a href="{{ childlink.url }}" class="c-navigation">{{ childlink.title | escape }}</a>
                  {%- else -%}
                    <div class="sublist" role="list" tabindex="-1">
                      <span class="c-navigation subtitle">{{ childlink.title | escape }}</span>
                      <ul class="sublist_list">
                        {%- for grandchildlink in childlink.links -%}
                          <li>
                            <a href="{{ grandchildlink.url }}" class="c-navigation {% if grandchildlink.current %}-active{% endif %}"
                            {% if grandchildlink.current %} aria-current="page"{% endif %}>
                              {{ grandchildlink.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </nav>

    <div class="header_buttons">
      <cart-icon class="header_cart-icon">
        <button class="header_buttons_btn -cart">
          {%- render 'component-icon' icon: 'cart', icon_size: 24 -%}
          <span class="data-quantity">0</span>
        </button>
      </cart-icon>
      <menu-open>
        <button>
          {%- render 'component-icon' icon: 'hamburger', icon_size: 26 -%}
        </button>
      </menu-open>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "img_width",
      "label": "Logo size",
      "unit": "px",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 200
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Navigation menu"
    }
  ]
}
{% endschema %}
