{{ 'section-instalation.css' | asset_url | stylesheet_tag }}
<script src="{{ 'component-stepper-script.js' | asset_url }}" defer></script>

<stepper-form class="o-container -narrow">
  <div class="image">
    <img src="{{ section.settings.image | image_url: width: 800 }}" alt="{{ page.title }}" width="800" height="800">
  </div>

  <div class="wrapper">
    <div class="content">
      <h1 class="title">{{ page.title }}</h1>
      <div class="text">
        {{ page.content }}
      </div>
    </div>

    {% form 'contact', return_to: '/pages/success' %}
      <input type="hidden" name="contact[type]" value="instalacion">
      <textarea name="contact[body]" required hidden>Instalación dentro de la ZMG</textarea>
      <button type="submit" id="submit"></button>

      <fieldset>
        <legend class="c-field_label u-hide-visually">Dirección de instalación</legend>
        {% comment %} Municipio {% endcomment %}
        <div class="c-field">
          <select name="contact[municipio]" id="municipio" class="c-field_input" required>
            {% comment %} ZMG {% endcomment %}
            <option value="Guadalajara">Guadalajara</option>
            <option value="Zapopan">Zapopan</option>
            <option value="San Pedro Tlaquepaque">San Pedro Tlaquepaque</option>
            <option value="Tonalá">Tonalá</option>
            <option value="Tlajomulco de Zúñiga">Tlajomulco de Zúñiga</option>
            <option value="Ixtlahuacán de los Membrillos">Ixtlahuacán de los Membrillos</option>
            <option value="Juanacatlán">Juanacatlán</option>
            <option value="El Salto">El Salto</option>
            <option value="Zapotlanejo">Zapotlanejo</option>
            {% comment %} Jalisco {% endcomment %}
            <option value="Chapala">Chapala</option>
            <option value="Ajijic">Ajijic</option>
            <option value="San Juan Cosalá">San Juan Cosalá</option>
            <option value="Puerto Vallarta">Puerto Vallarta</option>
          </select>
          <label for="municipio" class="c-field_label">Municipio</label>
        </div>

        {% comment %} Calle y número {% endcomment %}
        <div class="c-field">
          <input type="text" name="contact[calle]" id="calle"
          value="{% if form.calle %}{{ form.calle }}{% endif %}"
          placeholder="Calle y número" required class="c-field_input">
          <label for="calle" class="c-field_label">Calle y número</label>
        </div>

        {% comment %} Colonia {% endcomment %}
        <div class="c-field">
          <input type="text" name="contact[colonia]" id="colonia"
          value="{% if form.colonia %}{{ form.colonia }}{% endif %}"
          placeholder="Colonia" required class="c-field_input">
          <label for="colonia" class="c-field_label">Colonia</label>
        </div>

        {% comment %} Código postal {% endcomment %}
        <div class="c-field">
          <input type="text" name="contact[cp]" id="cp"
          value="{% if form.cp %}{{ form.cp }}{% endif %}"
          placeholder="Código postal" required class="c-field_input">
          <label for="cp" class="c-field_label">Código postal</label>
        </div>
      </fieldset>

      <fieldset hidden>
        <legend class="c-field_label u-hide-visually">Datos de contacto</legend>
        {% comment %} Nombre {% endcomment %}
        <div class="c-field">
          <input type="name" name="contact[name]" id="name"
          value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          placeholder="Ingresa tu nombre" required class="c-field_input">
          <label for="name" class="c-field_label">Nombre</label>
        </div>

        {% comment %} Correo {% endcomment %}
        <div class="c-field">
          <input type="email" name="contact[email]" id="email"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          placeholder="mail@correo.com" required class="c-field_input">
          <label for="email" class="c-field_label">Correo electrónico</label>
        </div>

        {% comment %} Telefono {% endcomment %}
        <div class="c-field">
          <input type="tel" name="contact[phone]" id="phone"
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          placeholder="Ingrese tel" required class="c-field_input">
          <label for="phone" class="c-field_label">Teléfono</label>
        </div>
      </fieldset>

      <fieldset hidden>
        <legend class="c-field_label u-hide-visually">Hora y fecha</legend>
        {% comment %} Opción {% endcomment %}
        <div class="c-field -radio">
          <label for="contact[comprar_o_rentar]" class="c-field_label">¿Cuál opción estás buscando?</label>
          <label for="comprar" class="c-field_radio">
            <input type="radio" name="contact[comprar_o_rentar]" value="comprar" id="comprar" required checked>
            <span>Quiero comprar</span>
          </label>
          <label for="rentar" class="c-field_radio">
            <input type="radio" name="contact[comprar_o_rentar]" value="rentar" id="rentar" required>
            <span>Quiero rentar</span>
          </label>
        </div>
        {% comment %} Fecha, block sundays {% endcomment %}
        <div class="c-field">
          <input type="date" name="contact[fecha]" id="fecha"
          value="{% if form.fecha %}{{ form.fecha }}{% endif %}"
          min="{{ 'now' | date: '%Y-%m-%d' }}"
          required class="c-field_input">
          <label for="fecha" class="c-field_label">Fecha</label>
        </div>
        {% comment %} Hora, Bloques de 2 horas desde las 9 a las 5 {% endcomment %}
        <div class="c-field">
          <select name="contact[hora]" id="hora" class="c-field_input" required>
            <option value="9:00">9:00 - 11:00 am</option>
            <option value="11:00">11:00 - 1:00 pm</option>
            <option value="13:00">1:00 - 3:00 pm</option>
            <option value="15:00">3:00 - 5:00 pm</option>
          </select>
          <label for="hora" class="c-field_label">Hora</label>
        </div>
        {% comment %} ¿Ya cuentas con el Purificador Welken? {% endcomment %}
        <div class="c-field -radio" id="owner">
          <label for="contact[ya_cuenta_con_purificador]" class="c-field_label">¿Ya cuentas con el Purificador Welken?</label>
          <label for="si" class="c-field_radio">
            <input type="radio" name="contact[ya_cuenta_con_purificador]" value="si" id="si">
            <span>Sí, ya realicé mi compra en línea</span>
          </label>
          <label for="no" class="c-field_radio">
            <input type="radio" name="contact[ya_cuenta_con_purificador]" value="no" id="no" checked>
            <span>No, deseo que lleven el Purificador y pagarlo contra entrega</span>
          </label>
        </div>
      </fieldset>

      {% comment %} Controls {% endcomment %}
      <div class="controls">
        <button type="button" class="c-button -primary" id="prev">
          Anterior
        </button>
        <button type="button" class="c-button -secondary" id="next">
          <span class="text">Siguiente </span>
          <span class="count">1/3</span>
        </button>
      </div>
    {% endform %}
  </div>
</stepper-form>

{% schema %}
{
  "name": "Formulario de instalacion",
  "tag": "section",
  "class": "section--instalation",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen",
    },
  ],
}
{% endschema %}
