{{ 'component-gallery-style.css' | asset_url | stylesheet_tag }}
{{ 'component-gallery-script.css' | asset_url | stylesheet_tag }}
{{ 'component-gallery-script.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

<script src="{{ 'component-gallery-script.js' | asset_url }}" defer=defer></script>
<script src="{{ 'component-product-form-script.js' | asset_url }}" defer=defer></script>
<script src="{{ 'component-variant-selects-script.js' | asset_url }}" defer=defer></script>

<div class="o-container -medium -wide u-pv-medium">
  <div class="media-wrapper">
    <div class="product_media">
      <div class="swiper thumbs">
        <div class="swiper-wrapper">
          {% assign images = product.media | where: "media_type", "image" %}
          {% for image in images %}
            <div class="swiper-slide">
              <img src="{{ image | image_url: width: 200 }}"
              alt="{{ image.alt }}" width="{{ image.width }}"
              height="{{ image.height }}" loading="lazy">
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="swiper previews">
        {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
          <span class="percent">
            {{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100 | divided_by: product.selected_or_first_available_variant.compare_at_price | round: 0 }}% desc
          </span>
        {% endif %}

        <div class="swiper-wrapper">
          {% assign images = product.media | where: "media_type", "image" %}
          {% for image in images %}
            <div class="swiper-slide">
              <a preview href="{{ image | image_url: width: 2048 }}">
                <img src="{{ image | image_url: width: 850 }}"
                alt="{{ image.alt }}" width="{{ image.width }}"
                height="{{ image.height }}" loading="lazy">
                <div class="zoom">
                  {% render 'component-icon' icon: 'zoom', icon_size: 100 %}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <div class="product_content">
    {%- assign product_form_id = 'product-form-' | append: section.id -%}

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}

        {%- when 'title' -%}
          <h1 class="product_title" {{ block.shopify_attributes }}>{{ product.title }}</h1>

        {%- when 'price' -%}
          <div class="product_price">
            {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
              {%- assign compare_with_iva = product.selected_or_first_available_variant.compare_at_price  -%}
              <span class="compare">${{ compare_with_iva | round: 0 | money_without_currency }}</span>
            {% endif %}
            <span class="original">${{ product.selected_or_first_available_variant.price | round: 0 | money_without_currency }}</span>
          </div>

        {%- when 'description' -%}
          {%- if product.description != blank -%}
            <div class="product_description c-body">
              {{ product.description }}
            </div>
          {%- endif -%}

        {%- when 'variant_picker' -%}
          {%- unless product.has_only_default_variant -%}
            {% render 'variant_picker' %}
          {%- endunless -%}

        {%- when 'buy_buttons' -%}
          {% render 'buy_buttons' %}

        {%- when 'schedule' -%}
          {%- assign title = product.title | downcase -%}
          {%- if title contains 'cartucho' -%}
          {%- else -%}
            <div class="product_schedule c-body" {{ block.shopify_attributes }}>
              <div class="product_schedule__description">
                {{ block.settings.description }}
              </div>
              {%- if block.settings.url != blank and block.settings.text != blank -%}
                <a href="{{ block.settings.url }}" class="c-button -primary">
                  {{ block.settings.text }}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}

        {%- when 'more_info' -%}
          {%- if product.metafields.custom.more_info != blank -%}
            <nav class="product_more" {{ block.shopify_attributes }} aria-label="Más información">
              {%- for item in product.metafields.custom.more_info.value -%}
                <details {% if forloop.first %}open{% endif %}>
                  <summary>
                    {{ item.title }}
                    {% render 'component-icon' icon: 'caret', icon_size: 18 %}
                  </summary>
                  <div class="c-body">
                    {{ item.descripcion | metafield_tag }}
                  </div>
                </details>
              {%- endfor -%}
            </nav>
          {%- endif -%}

        {%- when 'custom_liquid' -%}
          <div class="product_custom c-body" {{ block.shopify_attributes }}>
            {{ block.settings.custom_liquid }}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

<script id="product-json" type="application/json">
  {{ product | json }}
</script>

<script defer=defer>
  const product = JSON.parse(document.querySelector('#product-json').textContent);
  const id = product.id;
  const url = '{{ product.url }}';
  if (localStorage.getItem('visited')) {
    const visited = JSON.parse(localStorage.getItem('visited'));
    const was_visited = visited.last_seen.find(item => item.id === id) ? true : false;
    if (!was_visited) {
      visited.last_seen.push({ id, url });
      visited.last_seen = visited.last_seen.slice(-6);
      localStorage.setItem('visited', JSON.stringify(visited));
    } else {
      const index = visited.last_seen.findIndex(item => item.id === id);
      visited.last_seen.splice(index, 1);
      visited.last_seen.push({ id, url });
      localStorage.setItem('visited', JSON.stringify(visited));
    }
  } else {
    localStorage.setItem('visited', JSON.stringify({ last_seen: [{ id, url }] }));
  }
</script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width -%}
      "image": [
        {{ seo_media | image_url: width: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.product.name",
  "tag": "section",
  "class": "product",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Titulo del producto",
      "limit": 1
    },
    {
      "type": "vendor",
      "name": "Vendedor o fabricante",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Precio del producto",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Descripción del producto",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variantes del producto",
      "limit": 1
    },
    {
      "type": "more_info",
      "name": "Información adicional",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Botonera de compra",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Agregar botonera de compra dinámica",
          "info": "Agrega un botón de compra dinámica a la página de producto"
        }
      ]
    },
    {
      "type": "schedule",
      "name": "Agendar instalación",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Descripción",
          "default": "<p>¿Vives en la Zona Metropolitana de Guadalajara o sus al rededores? Verifica si tenemos cobertura en tu zona y agenda la instalación gratuita de tu purificador</p>"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texto del botón",
          "default": "Agendar instalación"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL del botón"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "Liquid personalizado",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Liquid personalizado"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Modal boton compra",
      "info": "Configura el modal de compra"
    },
    {
      "type": "text",
      "id": "buynow_modal_title",
      "label": "Título izquierda",
      "default": "Pagar ahora"
    },
    {
      "type": "richtext",
      "id": "buynow_modal_description",
      "label": "Descripción izquierda",
      "default": "<p>Te enviamos completamente gratis tu purificador. Realiza la instalación tú mismo o agenda la instalación después de finalizar tu compra.</p>"
    },
    {
      "type": "text",
      "id": "buynow_modal_text",
      "label": "Texto botón izquierda",
      "default": "Pagar en línea"
    },
    {
      "type": "text",
      "id": "after_modal_title",
      "label": "Título derecha",
      "default": "Pagar al recibir"
    },
    {
      "type": "richtext",
      "id": "after_modal_description",
      "label": "Descripción derecha",
      "default": "<p>Puedes solicitar la instalación gratuita de tu purificador y pagar en el momento si vives en los siguientes municipios:</p>"
    },
    {
      "type": "url",
      "id": "after_modal_url",
      "label": "URL botón derecha"
    },
    {
      "type": "text",
      "id": "after_modal_text",
      "label": "Texto botón derecha",
      "default": "Agendar entrega e instalación"
    },
    {
      "type": "header",
      "content": "Modal boton renta",
      "info": "Configura el modal de renta"
    },
    {
      "type": "text",
      "id": "rent_modal_title",
      "label": "Título",
      "default": "Renta un purificador Welken"
    },
    {
      "type": "richtext",
      "id": "rent_modal_description",
      "label": "Descripción",
      "default": "<p>Servicio disponible únicamente en los siguientes municipios:</p>"
    },
    {
      "type": "url",
      "id": "rent_modal_url",
      "label": "URL botón"
    },
    {
      "type": "text",
      "id": "rent_modal_text",
      "label": "Texto botón",
      "default": "Agendar instalación"
    },
  ]
}
{% endschema %}
