{{ 'component-gallery-style.css' | asset_url | stylesheet_tag }}
{{ 'component-gallery-script.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

<script src="{{ 'component-gallery-script.js' | asset_url }}" defer=defer></script>
<script src="{{ 'component-product-form-script.js' | asset_url }}" defer=defer></script>
<script src="{{ 'component-variant-selects-script.js' | asset_url }}" defer=defer></script>

<div class="o-container -medium -wide u-pv-medium">
  <div class="media-wrapper">
    <div class="product_media">
      <div class="swiper thumbs">
        <div class="swiper-wrapper">
          {% assign images = product.media | where: "media_type", "image" %}
          {% for image in images %}
            <div class="swiper-slide">
              <img src="{{ image | image_url: width: 200 }}"
              alt="{{ image.alt }}" width="{{ image.width }}"
              height="{{ image.height }}" loading="lazy">
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="swiper previews">
        {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
          <span class="percent">
            {{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100 | divided_by: product.selected_or_first_available_variant.compare_at_price | round: 0 }}% desc
          </span>
        {% endif %}

        <div class="swiper-wrapper">
          {% assign images = product.media | where: "media_type", "image" %}
          {% for image in images %}
            <div class="swiper-slide">
              <a preview href="{{ image | image_url: width: 2048 }}">
                <img src="{{ image | image_url: width: 850 }}"
                alt="{{ image.alt }}" width="{{ image.width }}"
                height="{{ image.height }}" loading="lazy">
                <div class="zoom">
                  {% render 'component-icon' icon: 'zoom', icon_size: 100 %}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <div class="product_content">
    {%- assign product_form_id = 'product-form-' | append: section.id -%}

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}

        {%- when 'title' -%}
          <h1 class="product_title" {{ block.shopify_attributes }}>{{ product.title }}</h1>

        {%- when 'price' -%}
          <div class="product_price">
            {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
              {%- assign compare_with_iva = product.selected_or_first_available_variant.compare_at_price  -%}
              <span class="compare">${{ compare_with_iva | round: 0 | money_without_currency }}</span>
            {% endif %}
            <span class="original">${{ product.selected_or_first_available_variant.price | round: 0 | money_without_currency }}</span>
          </div>

        {%- when 'description' -%}
          {%- if product.description != blank -%}
            <div class="product_description c-body">
              {{ product.description }}
            </div>
          {%- endif -%}

        {%- when 'variant_picker' -%}
          {%- unless product.has_only_default_variant -%}
            <variant-selects class="product_variants"
              section="{{ section.id }}"
              url="{{ product.url }}"
              variants="{{ product.variants | json | escape }}"
            >
              {% for option in product.options_with_values %}
                <div class="variant">
                  <label for="{{ option.name }}">{{ option.name }}</label>
                  <div class="option" onclick="document.querySelector('#{{ option.name }}').click()">
                    <select
                      id="{{ option.name }}"
                      name="{{ option.name }}"
                      class="variant-select"
                      data-index="{{ forloop.index0 }}"
                    >
                      {%- assign index = forloop.index0 | plus: 1 -%}
                      {%- assign option_index = 'option' | append: index -%}
                      {% for value in option.values %}
                        <option
                          value="{{ value }}"
                          {% if product.selected_variant[option_index] == value %}selected{% endif %}
                        >
                          {{ value }}
                        </option>
                      {% endfor %}
                    </select>
                    {% render 'component-icon' icon: 'caret', icon_size: 20 %}
                  </div>
                </div>
              {% endfor %}
            </variant-selects>
          {%- endunless -%}

        {%- when 'buy_buttons' -%}
          <div class="product_buttons product-form" {{ block.shopify_attributes }}>
            <product-form>
              <div class="product-form__error-message-wrapper c-body -error u-hide" role="alert">
                {% render 'component-icon' icon: 'error', icon_size: 20 %}
                <span class="product-form__error-message"></span>
              </div>

              {%- assign product_form_id = 'product-form-' | append: section.id -%}
              {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                <input id="quantityValue" type="hidden" name="quantity" value="1">

                <label for="quantity" class="product_label"
                  onclick="document.querySelector('product-form .quantity-btn').click()"
                >Cantidad</label>
                <update-quantity target="#quantityValue" max="{{ product.selected_or_first_available_variant.inventory_quantity }}">
                  <button type="button" class="quantity-minus" down>
                    -
                  </button>
                  <input type="number" id="quantity" name="quantity" value="1" min="1" max="100">
                  <button type="button" class="quantity-plus" up>
                    +
                  </button>
                </update-quantity>

                <div class="product-form__buttons">
                  <button
                    type="submit"
                    name="add"
                    class="c-button -secondary"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                  >
                    <span>Agregar al carrito</span>
                  </button>
                </div>
              {%- endform -%}
            </product-form>
          </div>

        {%- when 'schedule' -%}
          <div class="product_schedule c-body" {{ block.shopify_attributes }}>
            <div class="product_schedule__description">
              {{ block.settings.description }}
            </div>
            <a href="{{ block.settings.url }}" class="c-button -primary">
              {{ block.settings.text }}
            </a>
          </div>

        {%- when 'custom_liquid' -%}
          <div class="product_custom c-body" {{ block.shopify_attributes }}>
            {{ block.settings.custom_liquid }}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

<script id="product-json" type="application/json">
  {{ product | json }}
</script>

<script defer=defer>
  const product = JSON.parse(document.querySelector('#product-json').textContent);
  const id = product.id;
  const url = '{{ product.url }}';
  if (localStorage.getItem('visited')) {
    const visited = JSON.parse(localStorage.getItem('visited'));
    const was_visited = visited.last_seen.find(item => item.id === id) ? true : false;
    if (!was_visited) {
      visited.last_seen.push({ id, url });
      visited.last_seen = visited.last_seen.slice(-6);
      localStorage.setItem('visited', JSON.stringify(visited));
    } else {
      const index = visited.last_seen.findIndex(item => item.id === id);
      visited.last_seen.splice(index, 1);
      visited.last_seen.push({ id, url });
      localStorage.setItem('visited', JSON.stringify(visited));
    }
  } else {
    localStorage.setItem('visited', JSON.stringify({ last_seen: [{ id, url }] }));
  }
</script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width -%}
      "image": [
        {{ seo_media | image_url: width: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.product.name",
  "tag": "section",
  "class": "product",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Titulo del producto",
      "limit": 1
    },
    {
      "type": "vendor",
      "name": "Vendedor o fabricante",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Precio del producto",
      "limit": 1
    },
    {
      "type": "aperture_methods",
      "name": "Métodos de apertura",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Descripción del producto",
      "limit": 1
    },
    {
      "type": "lock_features",
      "name": "Características",
      "limit": 1
    },
    {
      "type": "so_features",
      "name": "Sistema operativo",
      "limit": 1
    },
    {
      "type": "free",
      "name": "Envío gratis",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variantes del producto",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Botonera de compra",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Agregar botonera de compra dinámica",
          "info": "Agrega un botón de compra dinámica a la página de producto"
        }
      ]
    },
    {
      "type": "schedule",
      "name": "Agendar instalación",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Descripción",
          "default": "<p>¿Vives en la Zona Metropolitana de Guadalajara o sus al rededores? Verifica si tenemos cobertura en tu zona y agenda la instalación gratuita de tu purificador</p>"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texto del botón",
          "default": "Agendar instalación"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL del botón"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "Liquid personalizado",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Liquid personalizado"
        }
      ]
    }
  ],
  "settings": [

  ]
}
{% endschema %}
