{%- comment -%}
  ! This section is used to display the products items on the cart.
{%- endcomment -%}

{%- for line_item in cart.items -%}
  <div class="product-item" data-key="{{ line_item.key }}">
    <remove-product-button data-key="{{ line_item.key }}">
      <button class="c-button -transparent remove-product">&times;</button>
    </remove-product-button>
    {%- if line_item.image != blank -%}
      <img class="product-item_featured-image"
      src="{{ line_item.image | img_url: '250x' }}"
      alt="{{ line_item.image.alt }}"
      width="{{ line_item.image.width }}"
      height="{{ line_item.image.height }}"
      loading="lazy">
    {%- else -%}
      {{ 'product-1' | placeholder_svg_tag: 'placeholder_svg_tag' }}
    {%- endif -%}
    <h4 class="product-item_title">{{ line_item.title }}</h4>
    {% if line_item.sku != blank %}
      <span class="product-item_sku">{{ line_item.sku }}</span>
    {% endif %}
    {%- render 'component-price', product: line_item.product, show_badges: true -%}
    <update-quantity key="{{ line_item.key }}" max="100">
      <label>Piezas</label>
      <input quantity type="number" value="{{ line_item.quantity }}">
      <button up class="c-button -transparent -small"></button>
      <button down class="c-button -transparent -small"></button>
    </update-quantity>
  </div>
{%- else -%}
  <h3 class="c-heading -h3">No hay productos</h3>
{%- endfor -%}
